body {
  background-color: #333;
  color: #0f0; /* Zielony terminalowy */
  font-family: monospace;
  font-size: 20px;
  padding: 20px;
}
h1 {
  border-bottom: 2px solid #0f0;
  display: inline-block;
}
